<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
  <title>Watch G1</title>
  <!-- Bootstrap Core CSS -->
  <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- morris CSS -->
  <link href="/plugins/morrisjs/morris.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/stylesheets/css/style.css" rel="stylesheet">
  <!-- You can change the theme colors from here -->
  <link href="/stylesheets/css/colors/blue.css" id="theme" rel="stylesheet">

  <script src="/plugins/jquery/jquery.min.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

  <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>

  <script>
    let firebaseConfig = {
      apiKey: "AIzaSyAMkHt5RgdcB3kSDcxWgcoXofTsz0Rr13A",
      authDomain: "trecoopssmartwatchg1.firebaseapp.com",
      databaseURL: "https://trecoopssmartwatchg1.firebaseio.com",
      projectId: "trecoopssmartwatchg1",
      storageBucket: "trecoopssmartwatchg1.appspot.com",
      messagingSenderId: "303998590646",
      appId: "1:303998590646:web:33aaff13bb529dbefc1017"
    };
    firebase.initializeApp(firebaseConfig);
  </script>


  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Watch G1</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <!-- Row -->
      <div class="card-group">
        <div class="card card-inverse card-info">
          <div class="card-body">
            <div class="d-flex">
              <div class="m-r-20 align-self-center">
                <h1 class="text-white"><i class="ti-user"></i></h1></div>
              <div>
                <h3 class="card-title">Status</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6 align-self-center">
                <h2 class="font-light text-white"><span id="txtStatus">Standing</span></h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="card card-inverse card-warning">
          <div class="card-body">
            <div class="d-flex">
              <div class="m-r-20 align-self-center">
                <h1 class="text-white"><i class="ti-bell"></i></h1></div>
              <div>
                <h3 class="card-title">Watch Alert</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6 align-self-center">
                <h2 class="font-light text-white"><span id="txtAlert">ON</span></h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="card card-inverse card-dark">
          <div class="card-body">
            <div class="d-flex">
              <div class="m-r-20 align-self-center">
                <h1 class="text-white"><i class="ti-announcement"></i></h1></div>
              <div>
                <h3 class="card-title">Watch Sound</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6 align-self-center">
                <h2 class="font-light text-white"><span id="txtWatchSound">ON</span></h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="card card-inverse card-danger">
          <div class="card-body">
            <div class="d-flex">
              <div class="m-r-20 align-self-center">
                <h1 class="text-white"><i class="ti-bolt"></i></h1></div>
              <div>
                <h3 class="card-title">Watch Vibration</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6 align-self-center">
                <h2 class="font-light text-white"><span id="txtWatchVibration">ON</span></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row -->
      <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-xlg-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Bar Chart</h4>
                        <div id="morris-bar-chart"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
      </div>
      <!-- Row -->
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer"> © 2020 Watch G1 Dashboard by treCoops </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->

<!-- Bootstrap tether Core JavaScript -->
<script src="/plugins/bootstrap/js/popper.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/javascripts/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/javascripts/waves.js"></script>
<!--Menu sidebar -->
<script src="/javascripts/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="/javascripts/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!--sparkline JavaScript -->
<script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
<!--morris JavaScript -->
<script src="/plugins/raphael/raphael-min.js"></script>
<script src="/plugins/morrisjs/morris.min.js"></script>
<!-- Chart JS -->
<script src="/javascripts/dashboard1.js"></script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="/plugins/styleswitcher/jQuery.style.switcher.js"></script>
<script>

  function convertSeconds(seconds) {
    let h = seconds/ 3600;
    let m = (seconds % 3600) / 60;
    let s = seconds % 60;
    let sh = (h > 0 ? h + "." + "" : "0");
    let sm = (m < 10 && m > 0 && h > 0 ? "0" : "") + (m > 0 ? (h > 0 && s === 0 ? m : m + "" + "") : "00");
//        String ss = (s == 0 && (h > 0 || m > 0) ? "" : (s < 10 && (h > 0 || m > 0) ? "0" : "") + String.valueOf(s) + " " + "sec");
//        return sh + (h > 0 ? " " : "") + sm + (m > 0 ? " " : "") + ss;
    return sh + (h > 0 ? "" : ".") + sm + (m > 0 ? "" : "");
  }

  $( document ).ready(function() {
    firebase.database().ref('slippersG1').on('value', function (snapshot) {
      if(snapshot.val().sound == 1){
        $('#txtWatchSound').text('ON');
      }else{
        $('#txtWatchSound').text('OFF');
      }

      if(snapshot.val().alert == 1){
        $('#txtAlert').text('ON');
      }else{
        $('#txtAlert').text('OFF');
      }

      if(snapshot.val().vibration == 1){
        $('#txtWatchVibration').text('ON');
      }else{
        $('#txtWatchVibration').text('OFF');
      }
    });

    firebase.database().ref('mobile').on('value', function (snapshot) {
      if(snapshot.val().sitted == 1){
        $('#txtStatus').text('SITTING');
      }else{
        $('#txtStatus').text('STANDING');
      }
    });

    firebase.database().ref('time').once('value', function (snapshot1) {
      let data = [];
      let count = 0;
      const formatter = new Intl.NumberFormat('en-US', {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      });
      snapshot1.forEach(function(childSnapshot){
        firebase.database().ref('time').child(childSnapshot.key).on('value', function (snapshot){
            count++;
            // let dbVal = (snapshot.val()/1000)/3600;
            let dbVal = formatter.format(parseFloat(convertSeconds(snapshot.val())));
            // console.log(dbVal);
            let val = {y:childSnapshot.key, a:dbVal};
            data.push(val);
            console.log(snapshot1.numChildren());
            if(snapshot1.numChildren() == count){

              Morris.Bar({
                element: 'morris-bar-chart',
                data: data,
                xkey: 'y',
                ykeys: ['a'],
                labels: ['Hours'],
                barColors:['#55ce63', '#2f3d4a', '#009efb'],
                hideHover: 'auto',
                gridLineColor: '#eef0f2',
                resize: true
              });
            }
        });

      });

    });



  });



</script>

</body>

</html>